coursera/NeuralNetworksAndDeepLearning/.ipynb_checkpoints/
coursera/NeuralNetworksAndDeepLearning/__pycache__/
coursera/ImprovingDeepNeuralNetworks/week1/__pycache__/
coursera/ImprovingDeepNeuralNetworks/week1/.ipynb_checkpoints/
coursera/ImprovingDeepNeuralNetworks/week1/Regularization/.ipynb_checkpoints/
coursera/ImprovingDeepNeuralNetworks/week1/Regularization/__pycache__/
coursera/NeuralNetworksAndDeepLearning/week3/__pycache__/
coursera/ImprovingDeepNeuralNetworks/week3/.ipynb_checkpoints/
